<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.eventim.com.br/artist/coldplay-0/coldplay-sao-paulo-2026935/?affiliate=EL5">Ingressos para show no Brasil</a></li>
    <li><span>•</span></li>
    <li><a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU">Spotify</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw">Youtube</a></li>
    <li><span>•</span></li>
    <li><a href="hhttps://www.coldplay.com/">Site Oficial </a></li>
  </ul>
</div>
